.button-1 {
    @include font-setup($body-sm-size, $body-md-height);
    @include button_setup(140px, 45px, $white, $navy, 30px);

    &:hover {
      opacity: 0.7;
    }
  }

  .button-2 {
    @include font-setup($body-sm-size, $body-md-height);
    @include button_setup(167px, 56px, $white, $gradient-orange-to-pink, 30px);

    &:hover {
      opacity: 0.7;
    }
  }

  .button-3 {
    @include font-setup($body-sm-size, $body-md-height);
    @include button_setup(140px, 48px, $white, $gradient-blue-to-pink, 30px);

    margin: 1.5rem;
    &:hover {
      opacity: 0.6;
    }
  }