$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 600px;
$screen-lg: 801px;
$screen-xl: 1025px;
$screen-xxl: 1281px;

@mixin screen-xs {
  @media screen and (min-width: #{$screen-xs}) { @content; }
}
@mixin screen-sm {
  @media screen and (min-width: #{$screen-sm}) { @content; }
}
@mixin screen-md {
  @media screen and (min-width: #{$screen-md}) { @content; }
}
@mixin screen-lg {
  @media screen and (min-width: #{$screen-lg}) { @content; }
}
@mixin screen-xl {
  @media screen and (min-width: #{$screen-xl}) { @content; }
}
@mixin screen-xxl {
  @media screen and (min-width: #{$screen-xxl}) { @content; }
}