@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, button, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.button-1 {
  font-size: 16px;
  line-height: 28px;
  width: 140px;
  height: 50px;
  color: rgb(255, 255, 255);
  background: rgb(19, 24, 63);
  border-radius: 30px;
}
.button-1:hover {
  opacity: 0.7;
}

.button-2 {
  font-size: 16px;
  line-height: 28px;
  width: 167px;
  height: 56px;
  color: rgb(255, 255, 255);
  background: linear-gradient(rgb(255, 111, 72), rgb(240, 42, 166));
  border-radius: 30px;
}
.button-2:hover {
  opacity: 0.7;
}

.button-3 {
  font-size: 16px;
  line-height: 28px;
  width: 140px;
  height: 50px;
  color: rgb(255, 255, 255);
  background: linear-gradient(rgb(72, 81, 255), rgb(240, 42, 166));
  border-radius: 30px;
  margin: 1.5rem;
}
.button-3:hover {
  opacity: 0.6;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
}

main {
  background: linear-gradient(rgb(255, 255, 255), rgb(213, 218, 255));
}

h1,
h2,
h3 {
  font-weight: 800;
}

h4,
button,
a {
  font-weight: 700;
}

h1 {
  font-size: 40px;
  line-height: 51px;
  margin-bottom: 32px;
  color: rgb(19, 24, 63);
}
@media screen and (min-width: 768px) {
  h1 {
    margin: 42px 0 32px;
  }
}
@media screen and (min-width: 1281px) {
  h1 {
    font-size: 56px;
    line-height: 70px;
    width: 34vw;
  }
}

h2 {
  font-size: 24px;
  line-height: 28px;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 1281px) {
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
}

h3 {
  font-size: 18px;
  line-height: 28px;
  color: rgb(19, 24, 63);
  margin: 1rem 0;
}
@media screen and (min-width: 1281px) {
  h3 {
    font-size: 24px;
    line-height: 28px;
  }
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: rgb(131, 134, 154);
  max-height: 110px;
  padding-bottom: 1.8rem;
}
@media screen and (min-width: 768px) {
  p {
    margin-bottom: 0rem;
  }
}
@media screen and (min-width: 1281px) {
  p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 2rem;
  }
}

a {
  color: rgb(247, 71, 128);
  padding: 20px 0;
}

a:visited,
a:link {
  text-decoration: none;
}

header {
  display: flex;
  margin: 30px 10px 30px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  header {
    margin: 30px 40px 60px;
  }
}
@media screen and (min-width: 1281px) {
  header {
    margin: 2rem 8rem 11rem;
  }
}
header img {
  width: 6rem;
}
@media screen and (min-width: 1281px) {
  header .button-1 {
    height: 56px;
    width: 167px;
  }
}

#main-content {
  width: 90vw;
  margin: 0 25px;
  margin-bottom: 2.75rem;
}
@media screen and (min-width: 768px) {
  #main-content {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 0 11rem 2rem;
  }
}
@media screen and (min-width: 1281px) {
  #main-content {
    width: 30vw;
    margin: 0 8rem 15rem 8rem;
  }
}

.member_img {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 95vw;
  height: 95vw;
  background-image: url("../images/image-hero-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .member_img {
    background-image: url("../images/image-hero-tablet.png");
    position: absolute;
    right: -43%;
    top: -10%;
  }
}
@media screen and (min-width: 1281px) {
  .member_img {
    background-image: url("../images/image-hero-desktop.png");
    top: -38%;
    right: -35%;
  }
}

.courses {
  margin: -20px 0 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .courses {
    margin: 1rem 0px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
  }
}
@media screen and (min-width: 1281px) {
  .courses {
    padding: 8rem 8rem 2rem;
    margin-top: -10%;
  }
}
.courses .course_card {
  color: black;
}
@media screen and (min-width: 768px) {
  .courses p {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1281px) {
  .courses p {
    margin: 2rem 0 3rem;
  }
}
.courses_heading {
  width: 90vw;
  height: 14vh;
  padding: 30px 35px;
  border-radius: 15px;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  background: linear-gradient(rgb(255, 111, 72), rgb(240, 42, 166));
  margin: 0 auto 40px;
}
@media screen and (min-width: 768px) {
  .courses_heading {
    height: 30vh;
    width: 43vw;
    padding: 3.5rem 3rem;
    margin-bottom: 6rem;
  }
}
@media screen and (min-width: 1281px) {
  .courses_heading {
    width: 26vw;
    height: 23vw;
    padding: 4rem 2.5rem;
  }
}
.courses_course {
  height: 30vh;
  padding: 32px;
  margin: 28px 10px;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 15px;
  background: rgb(255, 255, 255);
  position: relative;
}
@media screen and (min-width: 768px) {
  .courses_course {
    width: 43vw;
    height: 35vw;
    padding: 36px;
    margin-top: 0rem;
    margin-bottom: 6rem;
  }
}
@media screen and (min-width: 1281px) {
  .courses_course {
    width: 26vw;
    height: 23vw;
  }
}
.courses_course_icon {
  width: 56px;
  position: absolute;
  top: -10%;
  left: 10%;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .courses_course_icon {
    top: -8%;
  }
}

footer {
  background: rgb(19, 24, 63);
  height: 12vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  footer {
    height: 13vh;
  }
}
@media screen and (min-width: 1281px) {
  footer {
    padding: 0 8rem;
  }
}
footer img {
  width: 6rem;
  margin: 40px;
}
@media screen and (min-width: 768px) {
  footer .button-3 {
    margin: 40px;
  }
}/*# sourceMappingURL=main.css.map */